{% extends 'base.html.twig' %}

{% block extracss %}
    <style>
        .tooltip {
        position: relative;
        display: inline-block;
        }

        .tooltip .tooltiptext {
        visibility: hidden;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
        }

        .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
        }

        .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
        }
    </style>
{% endblock %}
{% block content %}
    <h1 class="text-3xl text-center">Paste the short Url to track item</h1>
    {{ form_start(form, {'attr': {'class': ''}}) }}
        {{ form_row(form.ourUrl, {'attr': {'class': 'w-full'}}) }}
        <input type="submit" value="Track link">
    {{ form_end(form) }}
    {% if link is defined and clicks is defined and sourceUrl is defined%}
    <p>twój krótki link: <a href="{{ link }}">{{ link }}</a></p>
    <div class="tooltip">
        <button onclick="myFunction()" onmouseout="outFunc()">
        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
        Copy link
        </button>
    </div>
    <p>tutaj mozesz podejrzec ilosc klikniec w link: <a href="{{ clicks }}">{{ clicks }}</a></p>
    <p>ten link przekierowuje na stronę: {{sourceUrl}}</p>
    <script>
        function myFunction() {
        navigator.clipboard.writeText('{{ link }}');
        
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copied: " + '{{ link }}';
        }

        function outFunc() {
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copy to clipboard";
        }
    </script>
    {% endif %}
{% endblock %}