{% extends 'base.html.twig' %}

{% block extracss %}
{% endblock %}
{% block content %}
    <h1 class="text-3xl text-center">Paste the short Url to track</h1>
    {{ form_start(form, {'attr': {'class': ''}}) }}
        <section class="block mx-auto my-70 w-300 h-35 relative shadow-md rounded-full overflow-hidden text-secondary-800">
            {{ form_row(form.ourUrl, {'errors': false, 'attr': {'class': 'form-input w-200 bg-transparent border-none py-5 pl-8 pr-20 text-sm focus:outline-none'}}) }}
            <input type="submit" value="Track" class="form-submit text-sm text-gray-600 absolute top-0 right-0 w-70 h-35 rounded-full border-none bg-transparent shadow-lg cursor-pointer py-5 px-5 hover:bg-primary-100 transition duration-100 ease-in-out">
        </section>
        {{ form_errors(form.ourUrl) }}
    {{ form_end(form) }}
    {% if link is defined and clicks is defined and sourceUrl is defined%}
    <p>ammount of clicks: <a href="{{ clicks }}">{{ clicks }}</a></p>
    <p>link redirects to: <a href="{{sourceUrl}}">{{sourceUrl}}</a></p>
    {% endif %}
{% endblock %}